---
layout: default
title: Adicionar Professor
permalink: /add-teacher/
---
{% include breadcrumbs.html parent="Teachers" %}

<div class="alert alert-success" role="alert" data-hook="alert-success" style="display: none;">
  This teacher has been <a href="#" data-hook="commit-url">created</a> and the page is currently generating.
  It will be available momentarily at <a href="#" data-hook="teacher-url"></a>
</div>

<div class="alert alert-danger" role="alert" data-hook="alert-error" style="display: none;">
  Houve um erro ao salvar esta página
</div>

<div class="row" data-hook="edit-view">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Adicionar Professor</h1>
    {% include teacher-form.html %}
  </div>
</div>
