{% assign schema = include.disciplina.schema | default: site.schema %}
{% assign disciplina_fields = site.data.schemas[schema].disciplina_fields %}
{% assign resource_fields = site.data.schemas[schema].resource_fields %}
{% assign disciplina_system_fields = "title|teacher|notes" | split: "|" %}
{% assign disciplinas = site.collections | where:"label","disciplinas" | first %}
<form data-component="form disciplina-form"
  data-file-dir="{{ disciplinas.relative_directory }}"
  data-render-dir="disciplinas"
  {% if include.disciplina %}
    data-file-path="{{ include.disciplina.path }}"
    data-render-path="{{ include.disciplina.url }}"
  {% endif %}>
  <input type="hidden" id="schema" name="schema" value="{{ schema }}">

  <fieldset>
    {% for field in disciplina_fields %}
      {% if disciplina_system_fields contains field.field_name %}
        {% assign template = field.form_template | default: "form/text.html" %}
        {% assign field_name = field.field_name %}
        {% assign value = include.disciplina[field_name] %}
        {% include {{ template }} field=field field_name=field_name value=value %}
      {% endif %}
    {% endfor %}
  </fieldset>

  <h2>Materiais</h2>
  <div data-component="editable-list" data-item-label="resource">
    <div data-hook="items">
    {% for resource in include.disciplina.resources %}
      {% include disciplina-form-resource.html %}
    {% endfor %}
    </div>

    <button type="button" class="btn btn-default" data-hook="add-item-btn" title="Adicionar Material"><i class="fa fa-plus"></i> Add Resource</button>

    <script type="text/template" data-hook="item-template">
    {% include disciplina-form-resource.html %}
    </script>
  </div>

  <fieldset>
    <h2>Additional Info</h2>

    {% for field in disciplina_fields %}
      {% unless disciplina_system_fields contains field.field_name %}
        {% assign template = field.form_template | default: "form/text.html" %}
        {% assign field_name = field.field_name %}
        {% assign value = include.disciplina[field_name] %}
        {% include {{ template }} field=field field_name=field_name value=value %}
      {% endunless %}
    {% endfor %}

  </fieldset>

  <button type="submit" class="btn btn-primary">Enviar</button>
  {% if include.disciplina %}
    <button class="btn btn-danger" data-component="delete-page-button" data-file-path="{{ include.disciplina.path }}">
      <i class="fa fa-trash"></i> Deletar Disciplina
    </button>
  {% endif %}
</form>
